.header{
    height: 60px;
    background-color: #EEEEEE;
    text-align: center;
    border-bottom: 1px solid #404040;
    display:flex;
  }

.header .tool{
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;

}

.header .tool p{
        margin-top: 1px;
        font-size:12px
}


.selectionOptions{
    display: flex;
    /* border:1px solid #DBE1E9;
    gap: 10px;
    padding:2px  */
    margin-top: 10px ;
    margin-left:30px;
    margin-right:30px;
  }

  .optionContainer{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    border:1px solid #DBE1E9;
    /* width: 100px;
    height: 100px; */
    border-radius: 5px;
    /* cursor: pointer; */
    flex:0;
    /* column-gap: 20px; */
    /* padding:1px 10px 1px 10px */
  }
  .optionSpacer{
    flex:2  
  }
  .option{
    padding-top:2px;
    padding-right: 10px;
    padding-left:10px;
    
  }
  .option p{
    margin-bottom:1px;
  }
  .option + .option{
    border-left: solid 1px #DBE1E9;
}