.PanelHeader {
    border-bottom: 1px solid #a2aec0;
    background: #c0cbd8;
    display:flex;
    gap: 0px    ;
    align-items: center;
    padding:5px /* this pads the internal elements off the border a bit */
}

.PanelHeader .openerContainer{
    width:25px; /* This determines the space between the triangle and the title */
    flex:0 1 auto;
}

.PanelHeader .opener{ /* This is the triangle */

    --a: 15px;
    
    border-bottom: calc(0.866 * var(--a)) solid #6E737B;
    border-left: calc(var(--a) / 2) solid transparent;
    border-right: calc(var(--a) / 2) solid transparent;
    border-top: 0;
    height: 0;
    width: 0;
    rotate: 90deg;
}
.PanelHeader .opener.open{ /* this is triangle when open */

    rotate: 180deg;
}

.PanelTitle{ /* This is the title container and may hold the check box 8*/
    flex:1 1;
    
}
.PanelTitle__checkbox{
    display: inline-block;
    margin-right:5px;  /* This is the space between the check box and the title */     
    /* margin-left:5px; */
}
.PanelTitle__title{
    display: inline-block;
}