.layoutImages{
    display: flex;
    /* border:1px solid #DBE1E9;
    gap: 10px;
    padding:2px  */
    margin: 20px auto;

  }

  .imageContainer{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    border:1px solid #DBE1E9;
    /* width: 100px;
    height: 100px; */
    border-radius: 5px;
    /* cursor: pointer; */
    flex:0;
    /* column-gap: 20px; */
    /* padding:1px 10px 1px 10px */
  }
  .image + .image{
    border-left: solid 1px #DBE1E9;
}
  .layoutSpacer{
    flex:1  
  }
  .image{
    padding-top:2px;
    padding-right: 10px;
    padding-left:10px;
  }
  .imageContainer .image.selected{
    background: #DBE1E9;
  }

  .layoutOptions{
    border-top: solid 1px   #DBE1E9;
  }
  .range label {
    text-align: right;
    flex:0 0  100px;
  }
  .option{
    display: flex;
  }
  .range input{
    flex:1;
    margin-right: 20px;
  }
  .range input{
    flex:1;
    margin-right: 20px;
  }