.sidebar {
  flex-grow: 0;
  flex-shrink: 1;
  /* min-width: 200px; */
  max-width: 800px;
  display: flex;
  border-right: #e9e9e9 1px solid;
  flex-direction: row;
  background: #e9f0f8;
  box-shadow: -8px 2px 22px -7px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  z-index: 2;
  overflow-y:auto
}

.sidebar-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: white;
  height: 100vh;
  max-height: 100%;
  background: #ffffff;
  box-shadow: 8px 2px 32px -2px rgba(0, 0, 0, 0.25);
  border-radius: 0px 10px 10px 0px;
  z-index: 1;
}

.sidebar .sidebar-content {
  flex: 1;
  margin: 0em;
}

.sidebar .sidebar-resizer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 8px;
  /* background: #EEEEEE; */
  background-image: linear-gradient(to right, #FCFCFC,#DFDFDF);

  justify-self: flex-end;
  cursor: col-resize;
  resize: horizontal;
/* This is to center circle  */
  display: flex;
  justify-content: center;
  align-items: center; 
  border-left: 1px solid #A5A5A5;
  border-right: 1px solid #A5A5A5;
  
}
.sidebar .sidebar-spacer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10px;
  justify-self: flex-end;
  background: 	#FAFAFA;
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #808080;
  /* cursor: col-resize; */
  /* resize: horizontal; */
}
.dot{
  height: 2px;
width: 2px;
background-color: #bbb;
border-radius: 50%;
/* display: inline-block; */
/* position: absolute; */
border: 1px solid #9999;
}


  /* .sidebar .sidebar-resizer:hover {
    width: 3px;
    background: #c1c3c5b4;
  } */
