
  .header{
    height: 50px;
    background-color: #EEEEEE;
    text-align: center;
    border-bottom: 1px solid #404040;
  }
  .app {
    position: absolute;
    top: 51px;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    }
  
    